{{!-- auto scaffolded page template (HBS) for device-type --}}
<div class="main-content-box--container" x-data="deviceType">
  <div x-show="!isLoading">
    <!-- 操作按钮 -->
    <div class="buttons mb-3">
      <button class="button is-link" @click="addDevice" :disabled="isAdding">
        <span>添加</span>
      </button>
      <button class="button" @click="deleteSelected" :disabled="isAdding">
        <span>删除</span>
      </button>
    </div>

    <div class="table-container">
      <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
          <tr class="has-background-light">
            <th style="width: 40px;">
              <label class="checkbox">
                <input type="checkbox" @click="toggleSelectAll" :disabled="isAdding">
              </label>
            </th>
            <th>设备类型名称</th>
            <th>设备类型编码</th>
            <th>状态</th>
            <th>输入点数</th>
            <th>输出点数</th>
            <th style="width: 180px;text-align:center;">操作</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="(device, index) in devices" :key="device.name">
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" x-model="device.selected" :disabled="isAdding">
                </label>
              </td>

              <td x-text="device.name"></td>
              <td x-text="device.code"></td>
              <td>
                <span class="tag" :class="device.status ? 'is-success' : 'is-danger'"
                  x-text="device.status ? '启用' : '禁用'"></span>
              </td>
              <td x-text="device.DINum"></td>
              <td x-text="device.DONum"></td>

              <td>
                <div class="buttons is-centered are-small">
                  <button class="button is-small edit-point-btn" @click="editDevice(index)" :disabled="isAdding">
                    <span>编辑</span>
                  </button>
                  <button class="button is-small delete-point-btn" @click="deleteDevice(index)" :disabled="isAdding">
                    <span>删除</span>
                  </button>
                </div>
              </td>
            </tr>
          </template>

          <!-- 空状态 -->
          <template x-if="devices.length === 0">
            <tr>
              <td colspan="7" class="has-text-centered has-text-grey">
                <div class="py-4">
                  <p>暂无设备数据</p>
                  <button class="button is-primary is-small mt-2" @click="addDevice">添加第一个设备</button>
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

    <!-- 使用通用分页组件 -->
    {{>components/ui/pagination}}
  </div>
    <!-- 加载状态 -->
  <div x-show="isLoading" class="has-text-centered py-6">
    {{>components/ui/loading-spinner text="正在加载设备类型数据..."}}
  </div>
</div>

<style>
  .help.is-size-7 {
    font-size: 0.75rem;
  }

  .buttons.are-small .button {
    margin-bottom: 0;
  }
</style>