@font-face {
  font-family: "iconfont"; /* Project id 4825281 */
  src: url('iconfont.woff2?t=1739427703190') format('woff2'),
       url('iconfont.woff?t=1739427703190') format('woff'),
       url('iconfont.ttf?t=1739427703190') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico:before {
  content: "\e63a";
}

.icon-shangchuan:before {
  content: "\e60c";
}

.icon-xiaoyan:before {
  content: "\e631";
}

.icon-zhanghao:before {
  content: "\e678";
}

.icon-mima:before {
  content: "\e850";
}

.icon-kehushangbao:before {
  content: "\e6a4";
}

.icon-wancheng:before {
  content: "\e654";
}

.icon-shuju:before {
  content: "\e61b";
}

.icon-shanchu:before {
  content: "\e612";
}

